/*
 * Base colors
*/

$colorWhite: #ffffff;
$colorBlack: #000000; 
$colorRed: #ff0000;
$colorGrey: #C8CED4;
$colorSkyblue: #9FDCFF;
$colorPrimary: #129FF1;
$colorFoam: #F0F8FE;
$colorTitle: #2f404a;
$colorText: #5E5E5E;
$colorGreen: #00A874;
$colorLightGreen: #5DC066;
$colorWhiteLinen: #F9F3EC;
$colorSolitude: #E7F4FE;
$colorLinen: #F8EDE0;