.card-row{
  margin: calc(var(--bs-gutter-x) * -.5);
  & > * {
    padding: calc(var(--bs-gutter-x) * .5);
  }
}
.card{
  border-radius: 4px;
  overflow: hidden;
  display: block;
  .card-image{
    height: 195px;
    overflow: hidden;
    img{
      width: 100%;
      @include transition;
    }
  
  }
  .card-content{
    background-color: $colorFoam;
    padding: 50px 15px 30px 15px;
    position: relative;
    h4{
      font-weight: normal;
      font-size: 20px;
      color: $colorTitle;
      text-align: center;
    }
    .card-icon{
      position: absolute;
      @include transition;
      background: linear-gradient(#129ff1 0%, #1a6895 100%);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 10px solid $colorWhite;
      @include flex-center;
      left: 50%;
      margin-left: -40px;
      top: -40px;
      @include tablet-lg{
        width: 60px;
        height: 60px;
        border: 6px solid $colorWhite;
      }
      i{
        color: $colorWhite;
        font-size: 24px;
        @include tablet-lg{
          font-size: 20px;
        }
      }
    }
  }
  &:hover{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    .card-image{
      img{
        transform: scale(1.03);
      }
    }
    .card-content{
      .card-icon{
        background: linear-gradient(#129ff1 0%, #129ff1 100%);
      }
    }
  }
}