.gallery-listing{
  .gallery-card{
    border-radius: 10px;
    overflow: hidden;
    .card-image{
      height: 200px;
    }
  }
  .video-card{
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    border-color: $colorSkyblue;
    .card-image{
      img{
        height: 220px;
      }
    }
  }
} 